html {
    height: 100%;
}

body {
    font-family: 'WOL_Reg', 'Segoe UI', Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 20px;
}

.text-grey {
    color: grey;
}

.bold {
    font-weight: bold;
}

.string {
    color: green;
}

.number {
    color: pink;
}

.boolean {
    color: red;
}

.null {
    color: magenta;
}

.key {
    color: blue;
}

.no-border {
    border: 0;
}

.pointer {
    cursor: pointer;
}
