body {
    padding: 0;
    height: 100%;
}

hr {
    margin: 0;
}

#map-canvas {
    height: 100%;
    margin-left: 300px;
    position: relative;
}

#dashboard-container {
    left: 0;
    top: 0;
    width: 299px;
    border-right: 1px solid black;
    height: 100%;
    overflow: hidden;
    position: fixed;
}

#dashboard-container > div {
    padding: 10px;
}

.dashLines {
    stroke-dasharray: 10;
    stroke: black;
}